#buttonPanel {
	align-content: flex-start;
	border: 10px;
	border-color:  #AAAAAAFF;
	width: 415px;
	background-color: #AAAAAAFF;
	z-index: 1
}
button {
	background-color: #AA1010FF;
	width: 100px;
	height: 50px;
}